{% extends "base.html" %}

{% block content %}
    <div id="account-login" class="content-section mb-5">
        <div class="row justify-content-between">
            {% include "aside.html" %}
            <section class="col-lg-9 ps-lg-5">
                <h3>My Profile</h3>
                <p class="text-secondary">Manage and protect your account.</p>
                <hr>
                <form method="POST" action="" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <fieldset>
                        <div class="row justify-content-between">
                            <div class="col-md-7">
                                <div class="mb-3">
                                    {{ form.username.label(class='form-label') }}
                                    {% if form.username.errors %}
                                        {{ form.username(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.username(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.name.label(class='form-label') }}
                                    {% if form.name.errors %}
                                        {{ form.name(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.name(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.email.label(class='form-label') }}
                                    {% if form.email.errors %}
                                        {{ form.email(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class='form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="media text-center pt-4 mb-3" id="file_container">
                                    <img id="view-profile-image" src="{{ image_file }}" alt="" class="rounded-circle account-img image_view">
                                </div>
                                <div class="mb-3 text-center profile-pic">
                                    {{ form.image_f.label(class="form-control", onclick="selectImage()") }}
                                    {{ form.image_f(class='form-control d-none') }}
                                    {% if form.image_f.errors %}
                                        {% for error in form.image_f.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-danger") }}
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
{% endblock %}