{% extends "base.html" %}

{% block content %}
    <section id="section-add-address" class="content-section mb-5">
        <div class="row justify-content-between">
            {% include "aside.html" %}
            <div class="col-lg-9 ps-lg-5">
                <h3>New Address</h3>
                <p class="text-secondary">Add New Shipping / Billing Address.</p>
                <hr>
                <form method="POST" action="" novalidate>
                    {{ form.csrf_token }}
                    <fieldset>
                        <div class="row justify-content-between">
                            <div class="col-md-7">
                                <div class="mb-3">
                                    {{ form.house.label(class='form-label') }}
                                    {% if form.house.errors %}
                                        {{ form.house(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.house.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.house(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.province.label(class='form-label') }}
                                    {% if form.province.errors %}
                                        {{ form.province(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.province.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.province(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label for="city" class="form-label">City/Municipality</label>
                                    <select name="city" class="form-select" id="city" disabled></select>
                                    {% if is_empty %}
                                        <div class="invalid-feedback">
                                            <span>This field is required</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label for="city" class="form-label">Barangay</label>
                                    <select name="barangay" class="form-select" id="barangay" disabled></select>
                                    <div class="invalid-feedback">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-danger") }}
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}