{% extends "base.html" %}

{% block content %}
    <section id="section-address" class="content-section mb-5">
        <div class="row justify-content-between">
            {% include "aside.html" %}
            <div class="col-lg-9 ps-lg-5">
                <h3>My Addresses</h3>
                <p class="text-secondary">Add New Shipping / Billing Address.</p>
                <a href="{{ url_for('addresses.add_address') }}" class="btn btn-success">Add New Address</a>
                <hr>
            </div>
        </div>
    </section>
{% endblock %}