<aside class="col-lg-3 list-group pe-0 mb-3">
    <a class="list-group-item list-group-item-action py-3" href="{{ url_for('users.account') }}"><i class="fa-solid fa-user"></i>My Profile</a>
    <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-house"></i>Delivery Address</a>
    <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-bag-shopping"></i>My Orders</a>
    <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-eye"></i>Recently Viewed</a>
    <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-credit-card"></i>My Credits</a>
    <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-lock"></i>Change Password</a>
    {% if current_user.user_type == "admin" %}
        <a class="list-group-item list-group-item-action py-3" href="#"><i class="fa-solid fa-key"></i>Admin</a>
        <a class="list-group-item list-group-item-action py-3" href="{{ url_for('products.new_product') }}"><i class="fa-solid fa-boxes-stacked"></i>Products</a>
    {% endif %}
</aside>