{% extends "base.html" %}

{% block content %}
    <section id="section-cart" class="content-section">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h3>Shopping Cart</h3>
                {% if current_user.addresses %}
                    {% for address in current_user.addresses %}
                        {% if address.default == "default" %}
                            <p class="text-secondary"><i class="fa-solid fa-location-dot"></i> Location: {{ address.house + ' ' + address.barangay + ', ' + address.city + ', ' + address.province }}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-secondary"><i class="fa-solid fa-location-dot"></i> Add shipping address <a href="{{ url_for('addresses.address') }}" class="text-danger">here.</a></p>
                {% endif %}
                <hr>
                {% if current_user.carts %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col" id="sample">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart in carts %}
                            <tr class="align-middle">
                                <td><img width="70px" src="{{ url_for('static', filename='img/' + cart.parent_product.image_file) }}" alt="Image Preview" class="image_view"></td>
                                <td>{{ cart.parent_product.name }}</td>
                                <td>{{ "₱{:,.2f}".format(cart.parent_product.price) }}</td>
                                <td class="td-input-quantity">
                                    <input onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" min="1" type="number" id="quantityChange{{ cart.id }}" cart_id = "{{ cart.id }}" value="{{ cart.quantity }}" class="quantityChange form-control text-center rounded-0 w-50">
                                </td>
                                <td id="cartNumber{{ cart.id }}" class="total-price">
                                    {{ "₱{:,.2f}".format(cart.parent_product.price * cart.quantity) }}
                                </td>
                                <td><a class="btn btn-danger btn-sm" href="{{ url_for('carts.remove_cart', cart_id=cart.id) }}" class="text-danger">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            {% if current_user.carts %}
            <div class="col-lg-12">
                <!-- Compute Subtotal -->
                <div class="cart-subtotal d-flex justify-content-end mb-4">
                    <span class="cart-subtotal-title">Subtotal</span>
                    <span id="cart_subtotal" class="cart-subtotal-price ms-5">
                        {% set subtotal = [] %}
                        {% for cart in carts %}
                            {% if subtotal.append(cart.parent_product.price * cart.quantity) %}{% endif %}
                        {% endfor %}
                        {{ "₱{:,.2f}".format(subtotal | sum) }}
                    </span>
                </div>
                <div class="mb-3 text-end">
                    {% if current_user.addresses %}
                        {% for address in current_user.addresses %}
                            {% if address.default == "default" %}
                                <form action="{{ url_for('checkout.create_checkout_session') }}" method="POST">
                                    <button type="submit" id="checkout-button" class="btn btn-danger">Check Out</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="{{ url_for('addresses.address') }}" class="btn btn-danger">Go to Address <i class="fa-solid fa-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="text-center mt-4">
                <p class="text-muted">Your cart is currently empty.</p>
                <a href="{{ url_for('main.home') }}" class="btn btn-danger">Go Shopping Now</a>
            </div>
             {% endif %}
        </div>
    </section>
{% endblock %}