{% extends "base.html" %}

{% block content %}
    <section id="section-create-product" class="content-section mb-5">
        <div class="row justify-content-between">
            {% include "aside.html" %}
            <div class="col-lg-9 ps-lg-5">
                <h3>{{ title }}</h3>
                <p class="text-secondary">All fields are required.</p>
                <hr>
                <form method="POST" action="" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <fieldset>
                        <div class="row justify-content-between">
                            <div class="mb-3">
                                {{ form.stripe_price.label(class='form-label') }}
                                {% if form.stripe_price.errors %}
                                    {{ form.stripe_price(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.stripe_price.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.stripe_price(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.name.label(class='form-label') }}
                                {% if form.name.errors %}
                                    {{ form.name(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.stock.label(class='form-label') }}
                                {% if form.stock.errors %}
                                    {{ form.stock(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.stock.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.stock(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.price.label(class='form-label') }}
                                <div class="input-group">
                                    <span class="input-group-text">₱</span>
                                    {% if form.price.errors %}
                                        {{ form.price(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.price.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.price(class='form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form.image_f.label(class='form-label') }}
                                {% if form.image_f.errors %}
                                    {{ form.image_f(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_f.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_f(class='form-control') }}
                                {% endif %}
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-danger mt-3") }}
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}