{% extends "base.html" %}

{% block content %}
    <section id="section-create-product" class="content-section mb-5">
        <div class="row justify-content-between">
            {% include "aside.html" %}
            <div class="col-lg-9 ps-lg-5">
                <h3>{{ title }}</h3>
                <p class="text-secondary">All fields are required.</p>
                <hr>
                <form method="POST" action="" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <fieldset>
                        <div class="row justify-content-between">
                            <div class="col-lg-7">
                                <div class="mb-3">
                                    {{ form.name.label(class='form-label') }}
                                    {% if form.name.errors %}
                                        {{ form.name(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.name(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.stock.label(class='form-label') }}
                                    {% if form.stock.errors %}
                                        {{ form.stock(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.stock.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.stock(class='form-control') }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.price.label(class='form-label') }}
                                    <div class="input-group">
                                        <span class="input-group-text">₱</span>
                                        {% if form.price.errors %}
                                            {{ form.price(class='form-control is-invalid') }}
                                            <div class="invalid-feedback">
                                                {% for error in form.price.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.price(class='form-control') }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="">
                                    {{ form.image_f.label(class='form-label') }}
                                    {% if form.image_f.errors %}
                                        {{ form.image_f(class='form-control is-invalid', onclick="selectImage()",  accept="image/*") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.image_f.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.image_f(class='form-control', onclick="selectImage()",  accept="image/*") }}
                                    {% endif %}
                                </div>
                                <small class="text-muted">File size: maximum 1 MB | File extension: .JPEG, .JPG, .PNG</small>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                                <div id="file_container" class="mb-3">
                                    {% if title == "Update Product" %}
                                        <img id="view-product-image" src="{{ image_file }}" alt="Image Preview" class="img-fluid image_view">
                                    {% else %}
                                        <img id="view-product-image" src="{{ url_for('static', filename='img/product_pics/default.png') }}" alt="Image Preview" class="img-fluid image_view">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-danger mt-3") }}
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}