{% extends "base.html" %}

{% block content %}
    <section id="section-view-product" class="content-section">
        <div class="row mb-5 pt-5 justify-content-center">
            <div class="col-lg-5 m-5">
                <img src="{{ product.image_file }}" class="card-img-top" alt="{{ product.name }}-Image">
            </div>
            <div class="col-lg-3 m-5">
                <div class="card border-0">
                    <form method="POST" action="" novalidate>
                        {{ form.csrf_token }}
                        <div class="card-body">
                            <h1 class="card-title mb-2">{{ product.name }}</h1>
                            <p class="card-text text-price text-muted">{{ "₱{:,.2f}".format(product.price) }}</p>
                            <input id="productId" hidden="hidden" value="{{ product.id }}">
                            {{ form.quantity.label(class='form-label text-quantity') }}
                            {% if form.quantity.errors %}
                                {{ form.quantity(class='form-control rounded-0 form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.quantity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.quantity(class='form-control rounded-0 form-control-lg') }}
                            {% endif %}
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            {% if current_user.is_authenticated %}
                                {{ form.submit(class="btn btn-danger btn-lg w-100 mb-4 rounded-0") }}
                            {% else %}
                                <a href="{{ url_for('carts.need_login', product_id=product.id) }}" class="btn btn-danger btn-lg w-100 mb-4 rounded-0">Add to Cart</a>
                            {% endif %}
                            <a href="{{ url_for('wishlists.add_wishlist', product_id=product.id) }}" class="btn btn-outline-danger btn-lg w-100 mb-3 rounded-0">Add to Wishlist</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}